<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.naveenautomations.Utils.CustomListener"></listener>
		<listener class-name="com.naveenautomation.RetryLogic.TransformerForRetry"></listener>
		<listener class-name="com.naveenautomation.Reports.AllureReportListener"></listener>
		<listener class-name="com.naveenautomation.Reports.ExtentReportListener"></listener>


	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.naveenautomations.Tests.CameraPurchasePageTest" />
			<class name="com.naveenautomations.Tests.OrderConfirmationPageTest" />
			<class name="com.naveenautomations.Tests.YourStorePageTest" />
			<class name="com.naveenautomations.Tests.AccountLoginTest" />
			<class name="com.naveenautomations.Tests.ChangePasswordPageTest" />
			<class name="com.naveenautomations.Tests.OrderHistoryTest" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->  